@page "/"
@inject ILiffClient Liff
@inject IJSRuntime JSRuntime


    <div class="card" style="width: 20rem;">
        <h5 class="card-title">Current price of one bitcoin</h5>
        <p class="card-text">@Price EUR</p>
    </div>

@code{
    protected decimal Price { get; set; }

    protected override async Task OnInitializedAsync() {
        try {
            this.Price = 5.62M;
        }
        catch (Exception e) {
            await JSRuntime.InvokeAsync<object>("alert", e.ToString());
        }
    }
}
